/* Created 25-01-2022 */ 
/* Backgrounds */ 

div {
    height: 270px;
}

p {
    width: 50%;
}

.color {
    background-color: brown;
    color: #fff;
}


/* Image de fond */

.image {
    background-image: url(../img/back01.jpg);
    color: white;
}

.image-cover {
    background-image: url('../img/back01.jpg');
    color: white;
    background-size: cover;
}

.image-position {
    background-image: url('../img/back01.jpg');
    color: white;
    background-size: cover;
    background-position: center;
}

.image-adaptive {
    background-image: url('../img/maldives.jpg');
    color: white;
    height: 380px;
    background-repeat: no-repeat;
    background-color: yellowgreen;
}

.image-large {
    background-image: url('../img/maldives.jpg');
    color: white;
    height: 270px;
    background-size: cover;
    background-position: center;
}

.image-repeat {
    height: 500px;
    background-image: url('../img/woman.png');
    background-repeat: no-repeat;
}

.image-repeat h2,
.image-repeat p  {
    color: turquoise;
}


.image-place {
    background-image: url('../img/woman.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 150px;
}

.image-multiple {
    background: url('../img/woman.png') no-repeat left/30%, url('../img/woman-man.jpg') no-repeat right/30%;
}