/* Created 22-12-2021 */

.menu_element {
    padding-left: 10px;
    padding-right: 10px;
    color: dimgray;
}

.icofont-home {
    color: dimgray;
}

 .title {
    text-transform: uppercase;
}

hr {
    color: rgb(150, 0, 0);
}