// Variables


// Colors


$primary: rgba(63, 63, 63, 0);
$secondary: rgb(15, 185, 20);
$light: rgb(199, 103, 103);
$dark: rgb(43, 0, 0) !default;


// Size

$margin: 2rem;
$padding: 1rem;

// Borders

$border-size: 1px;
$border-type: solid;
$border-color: rgb(173, 50, 50);
