/* Created 20_01_2022 by Anthony Delmeire */
/* Apple Website replica student project */ 


@font-face {
    font-family: 'SanFrancisco';
    src: url('../fonts/SF-Pro-Text-Regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SanFrancisco-light';
    src: url('../fonts/SF-Pro-Text-Light.otf');
    font-style: normal;
    font-weight: 100;
}

.header_menu {
    height: 43px;
    width: auto;
    background-color: #333333;
    text-align: center;
}

.icons_menu {
    font-size: 15px;
}

.apple-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(190, 190, 190);
    font-family: SanFrancisco-light;
    font-size: 12px;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 17px;
    text-decoration: none;
}

li a:hover {
    color: whitesmoke;
}

.iPhone13-pro {
    height: auto;
    width: auto;
    background: #fbfbfd;
}

.device-name {
    font-family: SanFrancisco, sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    padding-top: 35px;
}

.device-label {
    text-align: center;
    font-family: SanFrancisco, sans-serif;
    font-size: 25px;
    padding-bottom: 15px;
}

.device-options a {
    text-decoration: none;
    color: #3e95ec;
    font-family: SanFrancisco, sans-serif;
    font-size: 20px;
    padding-right: 17px;
    padding-left: 17px;
    display: inline;
    text-align: center;
}

.device-options a:hover {
    text-decoration: underline 2px;
    color: #3e95ec;
}

.device-img {
    padding-top: 25px;
}

.iPhone13 {
    border-top: 10px solid #fff;
    background: #35283c;
    height: auto;
    width: auto;
}

.device-label.device2 {
    color: #fec2eb;
}

.label-new {
    color: #bf4800;
    padding-top: 30px;
}

.watch {
    border-top: 10px solid #fff;
    background: #f5f5f7;
}

.label-special {
    color: #cc2228;
    font-weight: bold;
    font-size: 16px;
}

.device-name-small {
    font-family: SanFrancisco, sans-serif;
    font-size: 37px;
    font-weight: 600;
    padding-top: 45px;
}

.device-label-small {
    font-family: SanFrancisco, sans-serif;
    font-size: 20px;
}

.device-options-small a {
    text-decoration: none;
    color: #3e95ec;
    font-family: SanFrancisco, sans-serif;
    font-size: 16px;
    padding-right: 17px;
    padding-left: 17px;
    display: inline;
}

.device-img-small {
    padding-top: 75px;
}

.links {
    background-color: #f5f5f7;
}

.links_block {
    padding-top: 15px;
}

.links_title {
    color: rgb(82, 81, 81);
    font-weight: bold;
}

.links_font {
    color: #929295;
    font-size: 11px;
    font-family: SanFrancisco, sans-serif;
}

.links_font a {
    text-decoration: none;
    color: #777777;
    font-family: SanFrancisco, sans-serif;
}

.links_font a:hover {
    text-decoration: underline;
    color: #777777;
}

.list a {
    color: rgb(124, 124, 124);
    padding: 8px 0 0 0;
}

.link_contact {
    color: #929295;
    font-size: 12px;
}

.vertical {
    border-left: 1px solid rgb(131, 131, 131);
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}