/* Created 22-02-2022 */

/* La propriété align-self permet de positionner un item sélectionné 
    La propriété order permet de modifier l'ordre des items */

.container {
    display: flex;
    justify-content: center;
    height: 400px;
    margin-bottom: 2rem;
}

.container div {
    width: 20%;
    height: 100px;
}

.item02 {
    align-self: flex-end;
}

.item03 {
    order: 4;
}
/* La propriété flew-grow permet à un item de s'étirer en fonction de l'espace 
disponible */

.container-grow {
    display: flex;
}

.container-grow div {
    height: 100px;
}

.container-grow .item02,
.container-grow .item01 {
    flex-grow: 1;
}