/* Created 18-02-2022 */ 

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
}

a {
    margin: 3px;
    padding: 10px;
    background-color: orange;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    transition: background-color 1s, color 1s, padding 1s;
    /* transition all 1s; */ 
}

a:hover {
    padding: 20px;
    background-color: orchid;
    color: palegreen;
}

img {
    width: 200px;
    margin-right: 20px;
}

.img01 {
    transition: all 1s;

}

.img01:hover {
    border-radius: 180px;
}

.img02 {
    transition: all 1s;
}

.img02:hover {
    transform: scale(1.3);
}

.img03 {
    transition: all 1s;
}

.img03:hover {
    transform: rotate(360deg);
}

.img04 {
    transition: all 1s;
}

.img04:hover {
    filter: brightness(250%);
}

.img05 {
    transition: all 1s;
}

.img05:hover {
    border: 4px solid greenyellow;
}
