.ex01 {
    background-image: url('../images/back01-2.jpg');
    height: 450px;
    width: 1500px;
    background-position: bottom;
    background-size: cover;
    margin: 0 auto;
}

.box01 {
    background-color: rgba(235, 235, 235, 0.527);
    color: rgb(56, 56, 56);
    font-size: 120%;
    width: 30%;
    padding: 25px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.box01 h2 {
    font-weight: lighter;
}

