body {
    margin: 2% 5%;
    font-family: sans-serif;
}

fieldset {
    margin-bottom: 1.6rem;
    border: 1px solid #999;
    border-radius: 6px;
}

fieldset p,
fieldset h1 {
    margin: 0 10%;
}

legend {
    padding: 0 5px;
    font-size: 1.2rem;
}

h2 {
    color: #777;
}


.ex01 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #6C4007;
    font-weight: bold;
    line-height: 1.2rem;
}

.ex02 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.375rem;
    color: rgb(71, 71, 71);
    line-height: 1.875rem;
    letter-spacing: 0.125rem;
    word-spacing: 0.188rem;
    font-style: italic;
}

.ex03 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 100%, 59.8%);
    text-transform: uppercase;
    float: right;
    font-weight: 300;
}

.ex04 {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 30%;
    font-size: 2rem;
    word-spacing: 1rem;
    background-color: black;
    background-size: 30%;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 6px;
}

.ex05 a {
    color: orange;
    font-size: 2.4rem;
    text-decoration: none;
}