/* Created 24_03_2022 */

body {
    background: linear-gradient(90deg, rgba(13, 13, 15, 0.281) 0%, rgba(16, 17, 18, 0.274) 100%), url('../img/background.jpg');
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 125px;
    color: white;
    text-shadow: 5px 5px 5px rgb(0, 0, 0),rgb(0, 0, 0) 3em rgb(0, 0, 0), 0 0 2em rgb(0, 0, 0);
    margin-top: 50px;
}


.main {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    width: 700px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.76);
    background-image: url("../img/numbers_background.png");
    background-size: cover;
    border: 1px solid rgb(0, 153, 255);
}

.welcome-message {
    color: white;
    font-size: 25px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-right: 50px;
}

.left-menu button {
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    border: 1px solid rgb(0, 153, 255);
}

.left-menu button a {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.character {
    display: flex;
}

.character img {
    width: 120%;
    height: 80%;
    margin-top: 50px;
    margin-left: 250px;
}

.idea {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-top: 80px;
    margin-left: 130px;
    filter: drop-shadow(0 -3mm 2mm rgb(255, 208, 0));
    -webkit-animation: action 1s infinite  alternate;
    animation: action 0.5s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.bubble {
    position: absolute;
    margin-right: 300px;
    margin-top: 35px;
}

.bubble img {
    width: 200px;
    height: 150px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    text-align: center;
  }

.footer p {
    color: white;
    margin-bottom: 5px;
}

/* ------------------------------------------------------------------- SPECIFIC PAGES --------------------------------------------------------------------------------*/

/* -------------------------------------------------------------------- LOGIN FORM -----------------------------------------------------------------------------------*/

.login-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    position: absolute;
    color: white;
    font-family: 'Anton', sans-serif;
    margin-top: 25px;
}

.login-form, 
.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}

.login-form form label {
    color: white;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    margin-top: 10px;
}

.login-form form input {
    margin-bottom: 25px;
    border: 2px solid rgb(0, 153, 255);
}

.login-form form button {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 162, 255);
}

.login-form form button:hover {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
}

.no-account {
    margin-top: 10px;
}

.no-account-text {
    color: white;
}

/* ---------------------------- PLAY FORM ---------------------------------*/

.play-form {
    display: flex;
    justify-content: center;
}

.play-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-form form label {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    color: rgb(0, 195, 255);
}


/*---------------------------------Result ----------------------------------*/

.result-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.result {
    color: white;
    font-size: 25px;
    margin-bottom: 0px;
}

.result-title {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-top: 25px;
}

.number {
    color: rgb(0, 162, 255);
    font-size: 80px;
    font-weight: 900;
}

.replay {
    text-decoration: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(0, 183, 255);
}


/*------------------------ LOGOUT FORM --------------*/

.logout-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.logout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-title {
    color: rgb(0, 162, 255);
    font-size: 80px;
    font-family: 'Anton', sans-serif;
}

.logout-form input {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 162, 255);
}

.logout-form input:hover {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
}

/*------------------------------------------ Profile page --------------------------------*/

.profile-box {
    display: flex;
}

.profile-title {
    display: flex;
    justify-content: center;
    color: rgb(0, 162, 255);
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    margin-top: 25px;
}

.profile-sub-title {
    color: rgb(0, 162, 255);
    text-align: center;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
}

.profile-field {
    display: flex;
    flex-direction: column;
}

.profile-field button {
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 162, 255);
}

.profile-field button a {
    text-decoration: none;
    color: white;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px rgb(0, 162, 255) solid;
}

.profile-infos-label {
    color: white;
    font-size: 20px;
    font-family: 'Anton', sans-serif;;
}

.profile-infos-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 25px;
}

.profile-infos {
    color: rgb(0, 162, 255);
    font-size: 19px;
    text-align: center;
}

.profile-infos-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.change-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.change-picture form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-picture form input {
    color: rgb(0, 162, 255);
}
/*------------------------------------------Sign Up Page -------------------*/

.signup-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form label {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 5px;
}

.signup-form input {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 162, 255);
    margin-bottom: 10px;
}

.signup-form input:hover {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(0, 162, 255);
    border: 1px solid rgb(0, 162, 255);
}

/*-------------------------------------- ERROR PAGE --------------------------------------*/

.error-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-field a {
    text-decoration: none;
}

.error-title {
    display: flex;
    font-size: 50px;
    color: #e74c3c;
    font-family: 'Anton', sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    text-align: center;
}

.error-text {
    display: flex;
    color: white;
    font-weight: 900;
    font-size: 25px;
}

.error-button {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.514);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 162, 255);
    margin-bottom: 10px;
}

.image-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.upload {
    background-color: rgba(0, 0, 0, 0.678);
    color: rgb(0, 162, 255);
}

.upload:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 162, 255);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(0, 162, 255);
    cursor: pointer;
}

