// Variables

// Colors
$primary-color: #666;
$white: #fff;

// Typo
$primary-typo: 'Montserrat', sans-serif;
$secondary-typo: 'Great Vibes', cursive;

// Back
$bg-image: url('../img/back02.jpg');
$bg-color: #00000020;

// Borders & Corners
$radius: 8px;
$border-color: $white;

// Media
$tablet: "screen and (min-width: 768px)";
$desktop: "screen and (min-width: 992px)";
$large: "screen and (min-width: 1200px)";
