/* Created 15-06-2022 */

/* On considère que Mobile est le média par défaut */
$mobile: "screen and (max-width: 768px)";
/* Tablette */
$medium: "screen and (min-width: 769px) and (max-width: 962px)";

/* Desktop */
$desktop: "screen and (min-width: 963px)";



$font: "Helvetica";