.ex01 {
    background-image: url('../images/back01-2.jpg');
    height: 450px;
    width: 90%;
    background-position: bottom;
    background-size: cover;
    margin: 0 auto;
}

.box01 {
    background-color: rgba(235, 235, 235, 0.527);
    color: rgb(56, 56, 56);
    font-size: 120%;
    width: 30%;
    padding: 25px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box01 h2 {
    font-weight: lighter;
}

/* Alternative  

body {
	margin: 1% 10%;
	font-family: sans-serif;
	color: #333;
}

.ex01 {
	height: 600px;
	padding-top: 10%;
	background-image: url('../images/back01-2.jpg');
	background-position: bottom;
}

.box01 {
	width: 40%;
	min-height: 150px;
	background-color: #ffffff68;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 6px;
}

.box01 h2 {
    font-weight: normal;
    font-size: 2.2rem
}

.box01 p {
    font-size: 1.4rem
}
*/